{% extends 'base.html' %}
{%load staticfiles%}
{% block title %}Телефонная книга{% endblock %}

{% block content %}
<div  class="container">
    <h2 class="centr"><span>Телефонная книга</span></h2>
   
   <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th scope="col">
                        <a href="{%url 'home' %}?sort=name"><i class="fas fa-angle-up"></i></a><br/>
                        &nbsp;Имя&nbsp;<br/>
                        <a href="{%url 'home' %}?sort=-name"><i class="fas fa-angle-down"></i></a>
                    </th>
                    <th scope="col">
                        <a href="{%url 'home' %}?sort=last_name"><i class="fas fa-angle-up"></i></a><br/>
                        &nbsp;Фамилия&nbsp;<br/>
                        <a href="{%url 'home' %}?sort=-last_name"><i class="fas fa-angle-down"></i></a>
                    </th>
                    <th scope="col">
                        <a href="{%url 'home' %}?sort=phones__number"><i class="fas fa-angle-up"></i></a><br/>
                        &nbsp;№ Телефона&nbsp;<br/>
                        <a href="{%url 'home' %}?sort=-phones__number"><i class="fas fa-angle-down"></i></a>
                    </th>
                    <th scope="col">
                        <a href="{%url 'home' %}?sort=email"><i class="fas fa-angle-up"></i></a><br/>
                        &nbsp;e-mail&nbsp;<br/>
                        <a href="{%url 'home' %}?sort=-email"><i class="fas fa-angle-down"></i></a>
                    </th>
                    <th scope="col">
                        <a href="{%url 'home' %}?sort=region__name"><i class="fas fa-angle-up"></i></a><br/>
                        &nbsp;Область&nbsp;<br/>
                        <a href="{%url 'home' %}?sort=-region__name"><i class="fas fa-angle-down"></i></a>
                    </th>
                    <th scope="col"> Совместные номера</th>
                    <th scope="col"> Опция</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for object in objects_list %}
                        <tr>
                            <td ><a href="{%url 'detail' pk=object.id %}">{{ object.name }} </a></td>
                            <td> {{ object.last_name }}</td>
                            <td>{% for phone in object.phones.all %} <p>{{phone}} &nbsp;</p> {% endfor %}</td>
                            <td>{{ object.email }}</td>
                            <td>{{ object.region.name }}</td>
                            <td>{% if object.id in contacts %} 
                                    {% for key, value in contacts.items %}
                                        {% if object.id == key %}
                                            {%for val in value%}
                                                <a href="{%url 'detail' pk=val.id %}">{{val.name}}&nbsp;{{val.last_name}}</a>&nbsp;&nbsp;<br/>
                                                
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %} 
                                {% endif %}
                                </td>
                            <td>
                            <a href="{%url 'update' pk=object.id %}"><button type="button" class='btn btn-info btn-sm' >Edit</button></a>
                            <a href="{%url 'delete' pk=object.id %}"><button type="button" class='btn btn-danger btn-sm' >Delete</button></a>
                            
                            </td>
                        </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
           <a href="{%url 'add' %}"><button type="button" class='btn btn-primary' >Добавить нового пользователя</button></a> 
            
                        
            <!-- Paginator -->
            <div id="navigation" class="container">
                <div class="row">
                    
                    <div class="col-md-3">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                        
                                    {% if objects_list.has_previous %}
                                        <li class="page-item">
                                        <a class="page-link" href="{% url 'home' objects_list.previous_page_number %}?sort={{request.GET.sort}}"  
                                        aria-label="Previous"> 
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                                                        
                                        </a>
                                        </li>
                                    {% else %}
                            
                                    {% endif %}
                                    {% for page in objects_list.paginator.page_range %}
                                        {% if page == objects_list.number %}
                                            <li class="page-item active">
                                                <a class="page-link" href="#">{{page}} <span class="sr-only">(current)</span></a>
                                            </li>
                                        {% else %}
                                            
                                            <li class="page-item">
                                                <a class="page-link" href="{% url 'home' page %}?sort={{request.GET.sort}}">
                                                {{page}}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if objects_list.has_next %}
                                        <li class="page-item">
                                        <a class="page-link" href="{% url 'home' objects_list.next_page_number %}?sort={{request.GET.sort}}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                        </li>
                                    {% else %}
                            
                                    {% endif %}
                            </ul>
                        </nav>

                        
                    </div>
                </div>
            </div>

            <!-- <div  class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <form class="phone-data-form" action="{% url 'add' %}" method="post">{% csrf_token %}
                            <table class="table">
                                <tbody>
                                    {{ form.as_table }}
                                </tbody>
                            </table>
                            <button type="submit" class='btn btn-success btn-lg' >Добавить номер телефона</button>
                        </form>
                           
                
                    </div>
                </div>
                
            </div> -->
            
        </div>
    </div>


</div>
{% endblock %}


    
 
