{% extends 'base.html' %}
{%load staticfiles%}
{% block title %}Добавить номер телефона{% endblock %}

{% block content %}
<div  class="container">
    <h2 class="centr"><span>Добавить номер телефона</span></h2>
   <div class="row">
        <div class="col-md-8 mx-auto left">
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class='btn btn-success btn-lg' >Добавить</button>
            </form>
                
    
        </div>
    </div>
</div>
{% endblock %}